<div ng-controller="MovieController" class="movie-content">
    <!--<div class="logo"><img src="assets/images/logo.png" width="100px" height="83.3px"></div>-->
    <div class="movie-item-container">
        <div id="movie-detail-container">
            <div class="movie-head">
                <img class="movie-icon" src="assets/images/icon_movie.png">
                <p class="movie-text">电影点播</p>
            </div>
        </div>
        <div id="movie-list-container">
            <div class="movie-type">
                <div class="top-arrow"></div>
                <div class="type-name">科幻</div>
                <div class="type-index">(2/6)</div>
                <div class="bot-arrow"></div>
            </div>
            <div class="movie-image-container">
                    <div ng-repeat="type in movie" id="type{{$index}}" class="type-container">
                        <div ng-repeat="movie in type.list" class="img-container">
                            <img ng-src="{{movie.img}}" class="rotate_img" repeat-finish="movieFinish();">
                        </div>
                    </div>
            </div>
        </div>
        <!--<div class="hidden">-->
            <!--<script type="text/javascript">-->
                <!--if (document.images) {-->
                    <!--img1 = new Image();-->
                    <!--img2 = new Image();-->
                    <!--img3 = new Image();-->
                    <!--img1.src = "assets/images/banner1.png";-->
                    <!--img2.src = "assets/images/banner2.png";-->
                    <!--img3.src = "assets/images/banner3.png";-->
                <!--}-->
            <!--</script>-->
        <!--</div>-->
    </div>
</div>