<div ng-controller="WakeUpController" class="movie-content">
    <div class="service-item-container">
        <div class="service-item-title">叫醒服务</div>
        <div class="service-item-content">
            <img src="assets/images/clock.png" class="service-item-img">
            <div class="service-item-text">
                <p class="">我们可以随时为客人提供叫醒服务，如您有需要，请在下方选择叫醒时间或来电咨询。</p>
                <p class="service-item-subtext">咨询电话：021-12345678</p>
                <div style="position: relative">
                    <div class="service-item-btn clock-btn" ng-show="!selected">选择时间</div>
                    <div class="service-item-btn time-btn" ng-show="selected">8月18日 12:03</div>
                    <div class="service-item-btn submit-btn" ng-show="selected">提交</div>
                    <div class="btn_border" style="height: 61px;width: 440px;right: 20px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>