.menu-item-container {
    overflow: hidden;
}

.menu-item-container > ul {
    margin-top: 146px;
    position: relative;
}

.menu-item-container > ul > li {
    float: left;
    margin: 0px 13px;
    width: 254px;
    height: 478.5px;
    position: relative;
}

.menu-item-container > ul > li img {
    width: 254px;
    position: absolute;
    left: 0;
    margin-left: 0;
}

.animation {
    animation: zoom 0.5s forwards;
    -moz-animation: zoom 0.5s forwards; /* Firefox */
    -webkit-animation: zoom 0.5s forwards; /* Safari 和 Chrome */
    -o-animation: zoom 0.5s forwards;
}

@keyframes zoom {
    from {
        width: 254px;
        height: 452px;
        top: 0;
        left: 0;
    }
    to {
        width: 284px;
        height: 505px;
        top: -26.5px;
        left: -15px;
    }
}

@-moz-keyframes zoom /* Firefox */
{
    from {
        width: 254px;
        height: 452px;
        top: 0;
        left: 0;
    }
    to {
        width: 284px;
        height: 505px;
        top: -26.5px;
        left: -15px;
    }
}

@-webkit-keyframes zoom /* Safari 和 Chrome */
{
    from {
        width: 254px;
        height: 452px;
        top: 0;
        left: 0;
    }
    to {
        width: 284px;
        height: 505px;
        top: -26.5px;
        left: -15px;
    }
}

@-o-keyframes zoom /* Opera */
{
    from {
        width: 254px;
        height: 452px;
        top: 0;
        left: 0;
    }
    to {
        width: 284px;
        height: 505px;
        top: -26.5px;
        left: -15px;
    }
}