/*movie page*/
.movie-item-container{
    width: 100%;
    height: 720px;
}
#movie-detail-container{
    width: 100%;
    height: 58.15%;
    background-size: cover;
    transition: transform 1.75s;
}
.bgAdd{
    animation: add 1.75s forwards;
    -moz-animation: add 1.75s forwards;	/* Firefox */
}
#movie-list-container{
    width: 100%;
    height: 41.8%;
}
.movie-head{
    height: 106.7px;
    position: relative;
    top: 2px;
}
.movie-icon{
    width: 40px;
    height: 40px;
    margin-left: 31.3px;
    margin-top: 32.7px;
    float: left;
}
.movie-text{
    margin-left: 13.3px;
    margin-top: 35.3px;
    font-size: 25.3px;
    color: #F8C7A4;
    float: left;
}
.movie-type{
    /*height: 173.53px;*/
    margin: 34px 32px;
    width: 66.67px;
    float: left;
}
.top-arrow{
    width: 18.87px;
    height: 18.87px;
}
.bot-arrow{
    width: 18.87px;
    height: 18.87px;
    margin-top: 18.67px;
}
.type-name{
    margin-top: 42.6px;
    height: 46.67px;
    text-align: center;
    font-size: 33.33px;
    color: #ffffff;
}
.type-index{
    height: 28px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}
.movie-image-container{
    float: left;
    width: 1149px;
    height: 100%;
    position: relative;
}
.type-container{
    position: absolute;
}
.img-container{
    position: relative;
    float: left;
    width: 116px;
    height: 173.3px;
    margin-right: 20px;
}
.rotate_img{
    -webkit-transition: -webkit-transform 0.75s;
    -moz-transition: -moz-transform 0.75s;
    transition: transform 0.75s;
    opacity: 1;
    position: absolute;
    height:173.3px;
    width: 116px;
    left: 0;
    top: 0px;
    /*margin-top: 34.67px;*/
}
/*降低透明度动画*/
.opacityReduce{
    animation: reduce 0.75s forwards;
    -moz-animation: reduce 0.75s forwards;	/* Firefox */
    -webkit-animation: reduce 0.75s forwards;	/* Safari 和 Chrome */
}

@keyframes reduce
{
    from {opacity: 1;}
    to {opacity: 0;}
}

@-moz-keyframes reduce /* Firefox */
{
    from {opacity: 1;}
    to {opacity: 0;}
}




/*增加透明度动画*/
.opacityAdd{
    animation: add 0.75s forwards;
    -moz-animation: add 0.75s forwards;	/* Firefox */
}

@keyframes add
{
    from {opacity: 0;}
    to {opacity: 1;}
}

@-moz-keyframes add /* Firefox */
{
    from {opacity: 0;}
    to {opacity: 1;}
}



/*选择电影动画*/
.choseMovie {
    animation: chose 0.1s forwards;
    -moz-animation: chose 0.1s forwards; /* Firefox */
}

@keyframes chose {
    from {
        width: 116px;
        height:173.3px;
    }
    to {
        width: 144.67px;
        height: 216px;
        top: 12.66px;
        left: -14.33px;
        margin-right: -9px;
    }
}

@-moz-keyframes chose /* Firefox */
{
    from {
        width: 116px;
        height:173.3px;
    }
    to {
        width: 144.67px;
        height: 216px;
        top: 12.66px;
        left: -14.33px;
        margin-right: -9px;
    }
}



